 *{
  box-sizing: border-box;
  /*border:1px solid red;*/
 }

html{
        scroll-behavior: smooth;
        padding:0;
        margin:0;
  }

 body{
  margin:0;
  padding:0;
 }

 .page-header{
  display:flex;
  justify-content: space-between;
  background-color:lightgreen;
 }

 .page-header-left{
  flex-basis:20%;
  flex-grow: 1;
  display:flex;
  justify-content: flex-start;
  align-items: center;
 }

 .page-header-right i{
  font-size:12pt;
  border-radius: 50%;
  padding:0.5em;
 }
 .page-header-right{
  flex-basis:20%;
  flex-grow: 1;
  display:flex;
  justify-content: flex-end;
  align-items: center;
 }

 .page-header-right>div{
  margin:0 0.5em;
 }

 .page-header-right>div a{
  color:black;
  text-decoration:none;
 }

 nav a{
  color:black;
  text-decoration:none;
  padding:0.5em 1em;
  transition: background-color 1s;
 }

 nav a:hover{
  color:red;
  background-color:lightblue;
  border-bottom:2px solid black;
 }

 .phone-icon{
    display:none;
 }

.phone-icon i{
    font-size:20pt;
    color:red;
    margin:0.2rem;
 }

 h1{
  margin:0;
 }

 @media screen and (max-width:800px){
  .page-header{
   flex-direction: column;
  }
  .page-header-middle{
   background-color:lightblue;
  }
 }

 @media screen and (max-width:400px){
  .page-header nav{
   flex-direction: column;
  }
  .page-header nav>a{
   width:100%;
   text-align:center;
  }

  .phone-icon{
    display:block;
  }

  .page-header nav{
    display:none;
  }

  .page-header a{
    display:block;
  }
 }

 .call-action-button{
     background-color: black;
     padding:0.5em 2em;
     color:white;
     text-decoration:none;
     transition: all 2s;
     
 }

 .call-action-button:hover{
     background-color: #dddddd;
     border-radius:5px;
     color: black;
 }

 /*Advertising CTA start*/
.advertising-cta{
  height: 100%;
  padding:10%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align:center;
}

.advertising-cta h2{
  color:#ff0088;
  font-size:5vw;
}

.advertising-cta p{
  color:white;
  font-size:13pt;
}

.advertising-cta a{
  padding-left:3em;
  padding-right:3em;
}

@media screen and (max-width:800px){
  .advertising-cta h2{
    font-size:30px;
  }
}
 /*Advertising CTA end*/


 /*promotion start*/
.promotion{
  display:flex;
  justify-content: center;
  margin-top:3em;
  text-align:center;
}

.promotion a{
  color:black;
}

.promotion p a{
  color:#666666;
  font-size:10pt;
}

.promotion>div{
  /*border:1px solid red;*/
  flex-basis: 26%;
  margin:0 1em;
}

.promotion>div img{
  width:100%;
}


/*promotion end*/

/*products list page begin*/
.products-container{
  display:flex;
  width:95%;
  margin:auto;
  padding-top:2rem;
}

.products-menu{
  width:20%;
  /*border:1px solid red;*/
  min-width: 220px;
}

.products-menu select{
  display:none;
}

.products-menu ul{
  margin:0;
  padding:0;
  list-style-type:none;
  line-height:180%;
}

.products-menu a{
  text-decoration:none;
  color:black;
  transition: color 0.5s;
}

.products-menu a:hover{
  color:#aaa;
}

.products-list{
  width:80%;
  /*border:1px solid green;*/
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size:11pt;
}

.products-single{
  flex-basis:23%;
  /*border:1px solid pink;*/
  line-height:180%;
}

.products-single img{
  width:100%;
}

.products-single-image{
  overflow:hidden;
  /*border:1px solid red;*/

}

.products-single-image img{
  transition: transform 0.5s;
}

.products-single img:hover{
   transform: scale(1.1);
}

.products-single-colors a{
   display:inline-block;
   width:20px;
   height:20px;
   border-radius:50%;
   margin-right:1em;
}

.products-single-colors a:nth-child(1){
   background-color: red;
}

.products-single-colors a:nth-child(2){
   background-color: blue;
}

.products-single-colors a:nth-child(3){
   background-color: green;
}

.products-single-colors-avaliable{
  color:#888;
}

.products-single-desc a{
  text-decoration: none;
  color:black;
  font-weight:bold;
}

@media screen and (max-width:900px){
  .products-single{
    flex-basis:48%;
  }
}

@media screen and (max-width:600px){
  .products-menu{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
  }
  .products-menu h3{
    margin-right:1rem;
  }
  .products-menu select{
    display:inline;
  }
  .products-menu ul{
    display:none;
  }

  .products-single{
    flex-basis:100%;
  }

  .products-container{
     flex-direction: column;
     /*border:1px solid purple;*/
     padding-top:0;

  }

  .products-list{
    width:95%;
    margin:auto;
  }
}

/*products list page end*/


/*single product page begin*/
.singleProduct-container{
  display:flex;
  justify-content: center;
  margin-top:5rem;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.singleProduct-image{
  /*border:1px solid red;*/
  /*flex-basis: 60%;*/
  text-align:center;
}

.singleProduct-image img{
  width:80%;
}

.singleProduct-detail{
  /*border:1px solid red;*/
  flex-basis: 30%
}

.singleProduct-detail-size a{
  display:inline-block;
  padding:0.5rem;
  width:35px;
  border-radius: 5px;
  border:1px solid #aaa;
  text-align:center;
  font-size:9pt
}

.singleProduct-detail .call-action-button{
  display:inline-block;
  width:100%;
  margin-top:1rem;
  text-align:center;
}

@media screen and (max-width:900px){
  .singleProduct-container{
    flex-direction: column;
    width:95%;
    margin:auto;
    margin-top:2rem;
  }

  .singleProduct-detail{
    flex-basis: 100%
  }

  .singleProduct-detail .call-action-button{
    width:100%;
  }

  .singleProduct-image img{
    width:100%;
  }
}

/*single product page end*/


/*cart page begin*/
.cart{
  width:70%;
  margin:auto;
  border:1px solid red;
}

.cart-products-list{
  width:100%;
}

.cart-products-list td{
  text-align:center;
}

/*cart page end*/

/*carousel section begin*/
.carousel{
   position:relative;
   width:100vw;
   height:60vw;
    border:1px solid green;
}

.carousel>div{
   position:absolute;
   width:100%;
   height:100%
   /*border:1px solid red;*/
}

#car-item1{
  background-color:lightblue;
  background-image:url("../images/advertising-CTA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

#car-item2{
  background-color:lightblue;
  background-image:url("../images/advertising-CTA2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

#car-item3{
  background-color:lightblue;
  background-image:url("../images/advertising-CTA3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.indicator i{
  text-decoration:none;
  font-weight:bold;
  font-size:60pt;
  color:white;
}


#indicator-next{
  position:absolute;
  top:45%;
  right:1rem;
  z-index:1000;
  border:1px solid red;
}

#indicator-pre{
  position:absolute;
  top:45%;
  left:1rem;
  z-index:1000;
  border:1px solid red;
}

/*carousel section enb*/











