 *{
  box-sizing: border-box;
  /*border:1px solid red;*/
 }

 body{
  margin:0;
  padding:0;
 }

 .page-header{
  display:flex;
  justify-content: space-between;
  background-color:lightgreen;
 }

 .page-header-left{
  flex-basis:20%;
  flex-grow: 1;
  display:flex;
  justify-content: flex-start;
  align-items: center;
 }

 .page-header-right i{
  font-size:12pt;
  border-radius: 50%;
  padding:0.5em;
 }
 .page-header-right{
  flex-basis:20%;
  flex-grow: 1;
  display:flex;
  justify-content: flex-end;
  align-items: center;
 }

 .page-header-right>div{
  margin:0 0.5em;
 }

 .page-header-right>div a{
  color:black;
  text-decoration:none;
 }

 nav a{
  color:black;
  text-decoration:none;
  padding:0.5em 1em;
  transition: background-color 1s;
 }

 nav a:hover{
  color:red;
  background-color:lightblue;
  border-bottom:2px solid black;
 }

 h1{
  margin:0;
 }

 @media screen and (max-width:800px){
  .page-header{
   flex-direction: column;
  }
  .page-header-middle{
   background-color:lightblue;
  }
 }

 @media screen and (max-width:400px){
  .page-header nav{
   flex-direction: column;
  }
  .page-header nav>a{
   width:100%;
   text-align:center;
  }
 }

 .call-action-button{
     background-color: black;
     padding:0.5em 2em;
     color:white;
     text-decoration:none;
     transition: all 2s;
     
 }

 .call-action-button:hover{
     background-color: #dddddd;
     border-radius:5px;
     color: black;
 }

 /*Advertising CTA start*/
.advertising-cta{
  background-color:lightblue;
	background-image:url("../images/advertising-CTA.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
  padding:10%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align:center;
}

.advertising-cta h2{
  color:#ff0088;
  font-size:5vw;
}

.advertising-cta p{
  color:white;
  font-size:13pt;
}

.advertising-cta a{
  padding-left:3em;
  padding-right:3em;
}

@media screen and (max-width:800px){
  .advertising-cta h2{
    font-size:30px;
  }
}
 /*Advertising CTA end*/


 /*promotion start*/
.promotion{
  display:flex;
  justify-content: center;
  margin-top:3em;
  text-align:center;
}

.promotion a{
  color:black;
}

.promotion p a{
  color:#666666;
  font-size:10pt;
}

.promotion>div{
  /*border:1px solid red;*/
  flex-basis: 26%;
  margin:0 1em;
}

.promotion>div img{
  width:100%;
}


 /*promotion end*/













